<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="./Tests/bootstrap.php"
>

    <php>
        <server name="ENV" value="test" />
    </php>

    <testsuites>
        <testsuite name="Mercado Libre API client - Test suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>

</phpunit>